.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

.main-nav nav span  {
 margin-right: 10px;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav img {
  max-width: 100%;
  width: 200px;
}